@import 'tailwindcss';

.has-custom-cursor,
.has-custom-cursor * {
  cursor: none !important;
}

.has-custom-cursor {
  scrollbar-gutter: stable;
}

.has-custom-cursor::-webkit-scrollbar,
.has-custom-cursor *::-webkit-scrollbar {
  cursor: auto;
}
