@import '@mnsart/ui/styles';
@source '../../../../packages/ui/**/*.{js,ts,jsx,tsx}';

@theme {
  /* font families */
  --font-albert-sans: var(--font-albert-sans);
  --font-unbounded: var(--font-unbounded);
  --font-shadows: var(--font-shadows);
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-albert-sans text-fs-400 overflow-x-hidden min-h-screen leading-normal tracking-normal bg-background text-foreground;
  }
}
