@import '@mnsart/ui/styles';
@source '../../../../packages/ui/**/*.{js,ts,jsx,tsx}';
@plugin '@tailwindcss/typography';

@theme {
  /* font families */
  --font-albert-sans: var(--font-albert-sans);
  --font-unbounded: var(--font-unbounded);
  --font-shadows: var(--font-shadows);
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-albert-sans text-fs-400 overflow-x-hidden min-h-screen leading-normal tracking-normal bg-background text-foreground;
  }
}

@utility header-component {
  clip-path: polygon(
    0% 0.8%,
    95.5% 0%,
    100% 20%,
    100% 80%,
    95.5% 100%,
    0% 100%,
    0% 80%,
    0% 20%
  );
}
